*{
    margin: 0;
    padding: 0;
}

.background-image{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-color: aqua;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.content{
    height: 100vh;
    background-color: rgba(250, 250, 250, 0.025);
}

.progress-bar{
    align-content: center;
    padding-top: 250px;
    font-size: 30px;
}

a{
    color:red;
}

i{
    height: 100px;
    margin-top: 25px;
    margin-left: 5px;
 }


 .playbutton{
    width: 80px;
    height: 80px;
    background-color: aliceblue;
    border-radius: 50px;
    animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px 0px white;
    }
    100% {
        box-shadow: 0 0 20px 5px white;
    }
}


.sound-icon {
    background-color: #D60909;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    top: 400px; 
    right: 20px; 
}

.sound-icon i {
    color: white;
}